@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap');
/* 
font-family: 'Nanum Myeongjo', serif; bold 700
font-family: 'Noto Sans KR', sans-serif; light-i 300, regular 400, semibold-i 600
font-family: 'Open Sans', sans-serif; light 300, regular 400, bold 700
*/
@font-face {
	font-family: 'ELAND_Choice_M';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonn	noonfonts-20-12@1.0/ELAND_Choice_M.woff') form	('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	background-color: #222;
}
* { box-sizing: border-box; }
.wrapper {max-width: 1366px; margin: auto;}

.dot {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 700;
	color: #6daee5;
}


/* ********.main-wrapper******* */
.main-wrapper {
	width: 100%;
	height: 100vh;
}
.main-wrapper .bg {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.main-wrapper .bg::after {
	background-image: url(../img/bg.jpg);
	top: -20px;
	left: -20px;
	position: absolute;
	background-size: 85%;
	opacity: 0.1;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}

.header-wrapper {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	padding: 0 3em;
	color: #e6e6e6;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-wrap {
	max-width: 100%;
	max-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	line-height: 1em;
	letter-spacing: -0.05em;
	position: relative;
}
.logo-wrap .dot {
	position: absolute;
	color: #6daee5;
	font-size: 2em;
	bottom: 55%;
	left: 29%;
}

.navi-wrap .line {
	height: 1px;
	width: 35px;
	background-color: #979797;
	margin-bottom: 0.65em;
}

.typo-wrapper {
	min-width: 350px;
	margin: 0 35% 0 25%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	display: flex;
}
.typo-wrapper .text-left {
	height: 70%;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 5em;
	letter-spacing: -0.0875em;
	line-height: 0.9;
	display: flex;
	justify-content: space-between;
	transform: translateY(70%);
}
.text-left .t1 {
	color: #6daee5;
}
.text-left > div {
	width: auto;
	min-width: 1.2em;
  float: left;
  height: 100%;
	padding-left: 0.15em;
}
.text-left .t2 {
	color: #979797;
	display:inline-block;
  margin-right:-999px;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-41%);
}

.text-right {
	border-left: 1px solid #979797;
	padding-left: 0.15em;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 5em;
	height: 70%;
	left: 100%;
}
.text-right > div {
	position: absolute;
	bottom: 30%;
}
.text-right > div > span {
	display: block;
	text-align: left;
	line-height: 0.85;
	letter-spacing: -0.05em;
}
.text-right .t3,
.text-right .t4 {
	color: #e7e7e7;
}
.text-right .t5 {
	color: #6daee5;
}
.text-right .t6 {
	color: #979797;
}

.typo-wrapper .line {
	position: absolute;
	width: 1px;
	height: 340px;
	background-color: #979797;
	bottom: 0;
	right: -155px;
}


/* ********.about-wrapper******* */
.person-wrap .title-wrap .tit {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 2.25em;
	letter-spacing: -0.075em;
	color: #e6e6e6;
	margin-top: 4em;
}
.person-wrap .title-wrap span {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	color: #e6e6e6;
	font-size: 1em;
	opacity: .7;
	letter-spacing: -0.075em;
}